:root {
  --desktop-width: 1440px;
  --mobile-width: 375px;
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --font-sans: "Josefin Sans", sans-serif;
}
html {
  font-size: 16px;
}

body {
  background: var(--desaturated-red);
  font-family: var(--font-sans);
}

.content {
  max-width: var(--desktop-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 1rem;
  height: 100vh;
}

.content__main {
  background: lightyellow;
  padding: 4rem 8rem;
}

.content__model {
  background: lightskyblue;
}

.copy__title {
  text-transform: uppercase;
  font-size: 3rem;
}
.text_lighter {
  font-weight: 300;
  display: block;
}
.subscribe-form {
  width: 100%;
  display: grid;
  background: lightpink;
  /* border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem; */
  border-radius: 2rem;
  grid-template-columns: 4fr 1fr;
  border: 1px solid black;
  height: 3rem;
}
.subscribe-form__input {
  border: 0;
  padding: 0.8rem 0 0.7rem 2rem;
  background: transparent;
}
input.subscribe-form__input[type="email"]:focus {
  outline: none;
}

.subscribe-form__btn {
  border: 0;
  border-radius: 2rem;
}
